@media (width >=768px) {
    #footer {
        text-align: left;
        padding-left: 0.5rem;
        font-size: 0.8rem;
    }

    .footercontainer {
        width: 750px;
    }

    #hidden-xs {
        display: none !important;
    }

    .hidden-xs {
        display: flex;
    }

    .cookies {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 20px;
        text-align: center;
        padding-left: 5rem;
        padding-right: 5rem;
        gap: 16px;
    }

    .h6footer {
        font-size: 12px;
        font-weight: normal;
    }


    .nav-bar-collapse {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        font-weight: 600;
    }

    .a-menu-logo img {
        width: 110px;
    }

    .nav-bar-left {
        display: flex;
        align-items: center;
        gap: 0.7rem;
        margin-left: 2rem;
        margin-right: 0.7rem;
    }

    .nav-bar-left li {
        flex: 0 1 auto;
        text-align: center;
        display: inline;
    }

    .nav-bar-left a {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    .nav-bar-left span {
        cursor: pointer;
        padding: 0px 2px;
    }

    .a-connect-facillity {
        border: 1px solid #fff;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

    .span-connect-facility {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 9px 9px;
    }

    .span-header-icon {
        display: none;
    }

    .header-nav-bar {
        display: inline-flex;
        width: auto;
    }

    .nav-bar-right {
        cursor: pointer;
        padding: 0px 2px;
        display: flex;
        gap: 0.7rem;
    }

    .container {
        padding: 0 40px;
    }

    .form-main {
        display: flex;
    }

    .splash-container {
        padding-top: 90px;
        padding-bottom: 30px;
    }

    .stripe {
        display: flex;
        justify-content: center;
        padding: 60px 0;
    }

    .button-smash {
        padding: 0 0;
        margin: 0 0;
    }

    .about{
        padding-top: 40px
    }

    .grid-area {
        grid-template-columns: 1fr 0.3fr 1fr;
        grid-template-areas:
        "m t t"
        "m b b";
        position: relative;
    }

    .first-article{
        padding: 40px 0;
        padding-bottom: 20px;
        grid-area: t;
    }
    
    .phone-container {
        grid-area: m;
        height: 100%;
        width: 105%;
        position: absolute;
        bottom: 35px;
        padding-left: 0px;
        right: 20px;
        
    }
    
    .phone {
        height: 100%;
    }
                
    .download-buttons-container {
        grid-area: b;
        align-items: flex-start;
        height: 190px;
        margin-bottom: -50px;
        padding-left: 5px
    }
                
    .site-stats{
        padding: 40px 0;
    }

    .flex-container{
        flex-direction: row;
        justify-content: space-around;
    }

    .for-users{
        display: flex;
        flex-direction: row;
        padding-top: 40px
    }

    .container-section{
        flex: 1;
        max-width: 1000px;
    }

    .for-users .container-section{
        margin-left: 50px;
        margin-top: -10px;
    }

    .container-sectionfacility{
        flex: 1;
        max-width: auto;
    }

    .for-facility .container-sectionfacility{
        margin-left: 50px;
        margin-top: -10px;
    }

    .facility{
        display: flex;
        flex-direction: row-reverse;
        padding-top: 40px
    }

    .macbook-container{
        flex: 1;
        padding-right: 0px;
        padding-bottom: 20px;
        height: 465px;
    }

    .macbook-container img{
        height: 100%;
        object-fit: cover;
        object-position: left;
    }

    .macbook-containerfacility{
        flex: 1;
        padding-right: 0px;
        padding-bottom: 20px;
        height: 465px;
    }

    .macbook-containerfacility img{
        height: 100%;
        min-width: 472px;
        object-position: left;  
    }
    
    .facilitydiv {
        flex: 1;
        height: 100%;
        min-width: auto;
        
    }
    
    .facility {
        overflow: hidden;
    }

}


@media(width >=992px) {
    .nav-bar-collapse {
        font-size: 14px;
    }

    .header-div-container {
        max-width: 992px;
    }

    .footercontainer {
        display: flex;
        width: 970px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        width: 100%;
        max-width: 992px;
    }

    .footercontainer>div {
        flex: 1 1 150px;
    }

    .cookies {
        align-items: center;
        justify-content: center;
    }

    .splash-container {
        padding-top: 110px;
        padding-bottom: 100px;
    }

    .container {
        max-width: 970px;
    }

    .stripe {
        width: 100%;
    }

    .main-div {
        width: 750px;
    }

    .phone-container{
        width: 100%;
        height: 130%;
    }
}

@media (width >= 1150px)
{

    .container{
        max-width: 800px;
    }
    .about .container{
        max-width: 1150px;
    }
}

@media(width >=1200px) {
    .header-div-container {
        max-width: 100%;
    }

    .nav-bar-right {
        margin-left: 3rem;
    }

    .nav-bar-left a {
        padding: 0 3px;
    }

    .nav-bar-right a {
        padding: 0 3px;
    }

    .a-menu-logo img {
        width: 112px;
    }

    .SV-arrow {
        display: inline-flex;
        align-items: flex-end;
    }

    #footer {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .footercontainer {
        box-sizing: border-box;
        width: 100%;
        max-width: 1300px;
        margin: 0;
        column-gap: 100px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #topfooter {
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 157px;
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .topfootercontainer {
        box-sizing: border-box;
        max-width: 1300px;
        margin: 0;
        column-gap: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .topfootercontainer > * {
        flex: 1 1 0;
    
    }

}

@media(width >=1024px) {

    .footercontainer {
        width: 1170px;
    }

}