@media (width >=768px) {
    #footer {
        text-align: left;
        padding-left: 1rem;
    }

    .footercontainer {
        width: 750px;
    }

    #hidden-xs {
        display: none !important;
    }

    .cookies {
        text-align: center;
        padding-left: 5rem;
        padding-right: 5rem;
        gap: 16px;
    }

    .h6footer {
        font-size: 12px;
        font-weight: normal;
    }


    .nav-bar-collapse {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        font-weight: 600;
    }

    .a-menu-logo img {
        width: 110px;
    }

    .nav-bar-left {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        gap: 0.7rem;
        margin-left: 2rem;
        margin-right: 0.7rem;
    }

    .nav-bar-left li {
        flex: 0 1 auto;
        text-align: center;
        display: inline;
    }

    .nav-bar-left a {
        display: inline-block;
        padding: 0;
        margin: 0;
        /* white-space: nowrap; */
    }

    .nav-bar-left span {
        cursor: pointer;
        padding: 0px 2px;
    }

    .a-connect-facillity {
        border: 1px solid #fff;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

    .span-connect-facility {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 9px 9px;
    }

    .span-header-icon {
        display: none;
    }

    .header-nav-bar {
        display: inline-flex;
        width: auto;
    }

    .nav-bar-right {
        cursor: pointer;
        padding: 0px 2px;
        display: flex;
        gap: 0.7rem;
    }

    .hero-container {
        padding: 0 40px;
    }

    .form-main {
        display: flex;
        flex: 1;
    }

    .splash-container {
        padding-top: 90px;
        padding-bottom: 30px;
    }

    .stripe {
        display: flex;
        justify-content: center;
        padding: 60px 0;
    }

    .button-smash {
        padding: 0 0;
        margin: 0 0;
    }

}

@media(width >=992px) {
    .nav-bar-collapse {
        font-size: 14px;
    }

    .header-div-container {
        max-width: 992px;
    }

    .footercontainer {
        display: flex;
        width: 970px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        width: 100%;
        max-width: 992px;
    }

    .footercontainer>div {
        flex: 1 1 150px;
    }

    .cookies {
        align-items: center;
        justify-content: center;
    }



    .splash-container {
        padding-top: 110px;
        padding-bottom: 100px;
    }

    .hero-container {
        max-width: 970px;
    }

    .stripe {
        width: 100%;
    }

    .main-div {
        width: 750px;
    }


}

@media(width >=1200px) {
    .header-div-container {
        max-width: 100%;
    }

    .nav-bar-right {
        margin-left: 3rem;
    }

    .nav-bar-left a {
        padding: 0 3px;
    }

    .nav-bar-right a {
        padding: 0 3px;
    }

    .a-menu-logo img {
        width: 112px;
    }

    .SV-arrow {
        display: inline-flex;
        align-items: flex-end;
    }

    #footer {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .footercontainer {
        box-sizing: border-box;
        width: 100%;
        max-width: 1300px;
        margin: 0;
        column-gap: 100px;
        margin-left: 20px;
        margin-right: 20px;
    }


}